<article class="post">
  <section>
    <div class="title">
      <p>
        <a href ="/post/{{id}}">{{title}}</a>
      </p>
    </div>
    
  </section>

  <div>
    {{description}}
  </div> <br>
  <div class="meta">
    created by {{user.username}} on {{format_date created_at}}
    |
    <a href="/post/{{id}}" class="commentColor">{{comments.length }} {{format_plural "comment" comments.length}}</a>
  </div>
</article>