<ol class="postList">
  {{#each posts as |post|}}
  <li>
    <article class="card post">
      <div class="card-header">
        <p class="card-header-title">
          <a href ="/post/{{post.id}}">{{post.title}}</a>
        </p>
      </div>
      <div>
        {{post.description}}
      </div> <br>
      <div class="meta">
        created by {{user.username}} on {{format_date post.created_at}}
        |
        <a href="/post/{{post.id}}">{{post.comments.length}} {{format_plural "comment" comments.length}}</a>
      </div>
    </article>
  </li>
  {{/each}}
</ol>